*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/public/videos/*
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

/storage/framework/views/*
storage/framework/views/f83eb011c9cf7a2fd6fa916733bc46ac.php
storage/framework/views/e8d760dd6323910ba6416bacc6417a69.php
/storage/framework/views
